/*********************************************

This is the style file for this project.

**********************************************/

#counter,#shelf {
  float: left;
}

#shelf {
  padding-left: 10%;
  max-width: 50%;
}

.listForm {
  font-size: 2em;
}

.gridForm {
  font-size: 2em;
  padding: 10px;
  color: red;
  width: 100px;
  height: 90px;
  float: left;
  border: 3px solid #eee;
  text-align: center;
}
